ul li {
    cursor: pointer;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background-color: wheat;
        transition: width 0.5s ease-in-out;
    }
    &:hover::after{
        width: 30%;
    }
}
img{
    height: auto;
    width: auto;
}
#nav-logo {
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 2px;
        background-color: wheat;
        transition: width 0.5s ease-in-out;
    }
    &:hover::after{
        width: 90%;
    }
}
header{
    z-index: 100;
}